/* (with 75% opacity for lightbox background) */
/* (with 75% opacity for lightbox background) */
*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog), *::before, *::after {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1150px;
  margin: 0 auto;
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
}
header .first-half-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header .first-half-header #open-close-menu {
  visibility: hidden;
}
header .first-half-header .logo {
  object-fit: contain;
  margin-right: 1.75rem;
}
header .first-half-header .menu {
  display: flex;
  list-style: none;
  align-items: center;
}
header .first-half-header .menu .menu-choice {
  margin: 0 0.75rem;
  color: hsl(219, 9%, 45%);
  padding: 35px 0;
}
header .first-half-header .menu .menu-choice:hover {
  color: hsl(220, 13%, 13%);
  border-bottom: 5px solid hsl(26, 100%, 55%);
  cursor: pointer;
}
header .second-half-header {
  display: flex;
  padding: 25px 0;
  position: relative;
}
header .second-half-header #cart-btn {
  position: relative;
}
header .second-half-header #cart-btn #badge {
  position: absolute;
  top: 2px;
  right: -5px;
  padding: 2px 5px;
  background-color: hsl(26, 100%, 55%);
  color: white;
  border-radius: 50%;
  font-size: 0.65rem;
  visibility: hidden;
}
header .second-half-header .cart {
  background-color: white;
  box-shadow: 0 0 10px 5px hsla(220, 14%, 75%, 0.4);
  position: absolute;
  left: -10rem;
  top: 90px;
  width: 22rem;
  display: none;
  color: hsl(220, 13%, 13%);
  border-radius: 10px;
}
header .second-half-header .cart-header {
  padding: 1.25rem;
  font-weight: 700;
}
header .second-half-header .cart-body {
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  text-align: center;
  color: hsl(219, 9%, 45%);
}
header .second-half-header .cart-body div {
  text-align: left;
}
header .second-half-header .cart-body img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 5px;
}
header .second-half-header .cart-body-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .second-half-header .cart-body-detail .total-price {
  font-weight: 700;
  color: hsl(220, 13%, 13%);
}
header .second-half-header .cart-body #checkout-btn {
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
}
header .second-half-header .profile-pic {
  width: 3rem;
  object-fit: contain;
  margin-left: 2.5rem;
  border: 2px solid hsl(26, 100%, 55%);
  border-radius: 50%;
}
header .second-half-header .profile-pic:hover {
  cursor: pointer;
}

hr {
  border-top: 1px solid hsl(223, 64%, 98%);
}

@media (max-width: 41rem) {
  header {
    padding: 0 16px;
    position: relative;
  }
  header .first-half-header #open-close-menu {
    visibility: visible;
    position: relative;
    z-index: 7;
    width: 15px;
    height: 15px;
    background-image: url("../images/icon-menu.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    margin-right: 1rem;
  }
  header .first-half-header .menu-container {
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100vw;
    height: 100vh;
    display: none;
  }
  header .first-half-header .menu-container .menu {
    display: block;
    background-color: white;
    width: 65%;
    height: 100vh;
    padding: 10vh 3vw;
  }
  header .first-half-header .menu-container .menu-choice {
    padding: 1rem 0;
    color: hsl(220, 13%, 13%);
  }
  header .second-half-header {
    position: unset;
  }
  header .second-half-header .cart {
    width: 95%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 20;
  }
  header .second-half-header .profile-pic {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
  }
  header hr {
    visibility: hidden;
  }
}
/* (with 75% opacity for lightbox background) */
button:hover {
  cursor: pointer;
}

.small-btn {
  background-color: transparent;
  border: none;
}

.prev, .next {
  background-color: white;
  width: 40px;
  height: 40px;
  position: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
}

.orange-btn {
  padding: 0.75rem;
  background-color: hsl(26, 100%, 55%);
  color: white;
  border: none;
  font-weight: 700;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.orange-btn:hover {
  background-color: hsl(26, 87%, 67%);
}

/* (with 75% opacity for lightbox background) */
main {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 70px;
}
main section {
  padding: 0 4em;
}
main #img-section .large-img {
  object-fit: contain;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
}
main #img-section .large-img:first-of-type:hover {
  cursor: pointer;
}
main #img-section .thumbnail {
  display: flex;
  justify-content: space-between;
}
main #img-section .thumbnail-img {
  position: relative;
  overflow: hidden;
  width: 22%;
  border-radius: 15px;
}
main #img-section .thumbnail-img .screen {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  opacity: 0; /* when active, use 0.6 */
  z-index: 3;
}
main #img-section .thumbnail-img img {
  width: 100%;
  height: auto;
}
main #img-section .thumbnail .prev, main #img-section .thumbnail .next {
  display: none;
}
main #text-section {
  padding-top: 60px;
}
main #text-section .intro {
  text-transform: uppercase;
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  font-size: 0.85rem;
}
main #text-section h1 {
  font-size: 2.75rem;
  margin: 20px 0;
  color: hsl(220, 13%, 13%);
  line-height: 1.1;
}
main #text-section p {
  padding: 1rem 0;
  color: hsl(219, 9%, 45%);
}
main #text-section .price {
  margin: 1rem 0;
}
main #text-section .price .discounted-price, main #text-section .price .percent, main #text-section .price .full-price {
  font-weight: 700;
}
main #text-section .price .discounted-price {
  display: inline-block;
  color: hsl(220, 13%, 13%);
  font-size: 1.75rem;
  margin-right: 0.75rem;
}
main #text-section .price .percent {
  color: hsl(26, 100%, 55%);
  padding: 2px 7px;
  background-color: hsl(25, 100%, 94%);
  border-radius: 5px;
  font-size: 1rem;
}
main #text-section .price .full-price {
  text-decoration: line-through;
  color: hsl(220, 14%, 75%);
  margin-top: 0.5rem;
  font-size: 1rem;
}
main #text-section .last-line {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
main #text-section .last-line .amount {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(223, 64%, 98%);
  padding: 0 20px 0 20px;
  border-radius: 10px;
}
main #text-section .last-line .amount #minus {
  transform: translateY(-3px);
}
main #text-section .last-line .amount #curr-amount {
  font-weight: 700;
  font-size: 1.25rem;
  color: hsl(220, 13%, 13%);
}
main #text-section .last-line #add-cart-btn {
  width: 60%;
  height: 3.5rem;
  box-shadow: 0 20px 20px hsl(26, 80%, 88%);
}
main #text-section .last-line #add-cart-btn svg {
  margin-right: 0.75rem;
}

@media (max-width: 41rem) {
  main {
    grid-template-columns: unset;
    margin-top: 0;
    padding: 0;
  }
  main section {
    padding: 0;
  }
  main #img-section {
    width: 100%;
  }
  main #img-section .large-img {
    display: none;
  }
  main #img-section .thumbnail {
    display: block;
    width: 100%;
    height: 320px;
    overflow: hidden;
    position: relative;
  }
  main #img-section .thumbnail-img {
    position: absolute;
    width: 100%;
    height: auto;
    border-radius: unset;
    visibility: hidden;
  }
  main #img-section .thumbnail-img img {
    visibility: inherit;
    object-fit: cover;
    margin-top: -10px;
  }
  main #img-section .thumbnail .prev, main #img-section .thumbnail .next {
    display: block;
    position: absolute;
    z-index: 4;
    top: 45%;
  }
  main #img-section .thumbnail .next {
    right: 0;
  }
  main #text-section {
    padding: 40px 16px 0 16px;
  }
  main #text-section h1 {
    font-size: 2rem;
  }
  main #text-section .price {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  main #text-section .last-line {
    display: unset;
    width: 100%;
  }
  main #text-section .last-line .amount {
    width: 100%;
    height: 3rem;
  }
  main #text-section .last-line #add-cart-btn {
    width: 100%;
    height: 3rem;
    margin-top: 0.75rem;
  }
}
dialog {
  background-color: transparent;
  border: none;
  width: 28rem;
  padding: 2rem;
}
dialog::backdrop {
  background-color: black;
  opacity: 0.75;
}
dialog .dialog-btn-container {
  text-align: right;
}
dialog .dialog-btn-container #close-dialog {
  background-color: transparent;
  border: none;
  outline: none;
  transform: scale(1.3);
  margin-bottom: 1rem;
}
dialog .large-img-container {
  position: relative;
}
dialog .large-img-container .prev, dialog .large-img-container .next {
  display: block !important;
  position: absolute;
  z-index: 10;
  top: 12rem;
}
dialog .large-img-container .prev {
  left: 1rem;
}
dialog .large-img-container .next {
  right: 1rem;
}
dialog .thumbnail {
  padding: 0 25px;
}
dialog .thumbnail-img {
  width: 4.5rem;
  height: 4.5rem;
}
dialog .thumbnail-img img {
  object-fit: contain;
}

footer {
  margin-top: auto;
}

@media (max-width: 41rem) {
  footer {
    margin-top: 3rem;
  }
}